body {
    color:rgb(120,120,120);
    background-color:rgb(234,234,234);
    text-align:justify;
    line-spacing:1.8;
    margin-top:150px;
    margin-bottom:150px;
    margin-right:50px;
    margin-left:50px;
    text-indent:0em;}
    
h1, h2, h3, h4, h5, h6 {
    color:rgb(50,50,200);
    text-align:left;
    font-style:italic;
    font-weight:bold;}  

p.author {
    text-align: center;
    font-size: 200%;
    color:rgb(100,100,100);
}

/*code {
    font-family: "DejaVu Sans Mono", monospace;
    padding: 1em;
    overflow: auto;
    font-size: 80%;
    line-height: inherit:
    border-radius: 0.25em;
    background-color: #ebebeb;
    white-space: pre-wrap;
}*/
